debian/files
debian/desktop-defaults-common.debhelper.log
debian/desktop-defaults-common.postinst.debhelper
debian/desktop-defaults-common.postrm.debhelper
debian/desktop-defaults-common.substvars
debian/desktop-defaults-common/
debian/desktop-defaults-kde.debhelper.log
debian/desktop-defaults-kde.postinst.debhelper
debian/desktop-defaults-kde.postrm.debhelper
debian/desktop-defaults-kde.substvars
debian/desktop-defaults-kde/
debian/desktop-defaults-lxde.debhelper.log
debian/desktop-defaults-lxde.postinst.debhelper
debian/desktop-defaults-lxde.postrm.debhelper
debian/desktop-defaults-lxde.substvars
debian/desktop-defaults-lxde/
debian/desktop-defaults-razorqt.debhelper.log
debian/desktop-defaults-razorqt.substvars
debian/desktop-defaults-razorqt/
debian/desktop-defaults-xfce.debhelper.log
debian/desktop-defaults-xfce.postinst.debhelper
debian/desktop-defaults-xfce.postrm.debhelper
debian/desktop-defaults-xfce.substvars
debian/desktop-defaults-xfce/

